.message {
  position: fixed;
  top: 3em;
  width: 50%;
  margin-left: 50%;
  left: -25%;
  z-index: 10;
  background-color: #fff;
  border: 3px solid #dec129;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.message-header button {
  padding: 0.5em;
  cursor: pointer;
}

.message p {
  font-size: 1.2em;
}
