.moment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1em;
}

img {
  max-width: 500px;
  margin: 0 auto 1em;
}

.about-moment,
.actions {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding: 1.2em;
}

.actions {
  background-color: #eee;
}

.comments {
  margin-bottom: 1em;
  padding: 1.5em 0;
}

.about-moment h3,
.actions h3,
.comments h3 {
  margin-bottom: 1em;
}

.comment-container {
  text-align: left;
  border-bottom: 1px solid #efefef;
  padding: 1em 0;
}

.comment {
  font-size: 0.9em;
}

.author {
  font-size: 0.8em;
}

.comment-form {
  margin-bottom: 3em;
}

.comment-form form {
  margin-top: 1em;
  text-align: left;
  max-width: 300px;
  margin-left: 0;
}

.author span {
  font-weight: bold;
}
