* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

/* ajustes para aulas */
body {
  padding-bottom: 500px;
}

.class {
  border-bottom: 1px solid red;
  padding: 2em;
  margin-bottom: 1em;
}
